.main {
	width:100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.mainView {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow:99;
	width: 100%;
	height: 100%;
}

.leftSidePanel {
	min-width: 400px;
	height: 100%;
}
.queries {
	margin-top:5px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow:99;
	width:100%;
	height:87.4vh;
	flex-basis:auto;
}
