.queryList {
	border-style: solid;
	border-width: 1px;
	min-height: 200px;
	min-width: 400px;
}

.saveBox {
	display:flex;
	flex-direction: row;
	width:100%;
	flex-grow:99;
	align-items: center;
	justify-content: center;
	padding: 0 10px 0 10px;
}
.closeBox {
	display:flex;
	flex-direction: row;
	flex-grow:0;
	align-items: flex-start;
	justify-content: flex-end;
}


